{
    box-sizing;
    border-box
}
.nametag {
width: :20px;
height: 150px;
border: blue;
border-radius: 25px;
background
}

.back{

}

.front{
    position: relative;
    top: 50;
    height: 130px;
    background-color: white;

}

</head>

<body>
<div class-"nametag:>"
<div